<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Type 1 Developer - By Trung Tran</title>
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <script src="css/jquery.min.js"></script>
  <script src="css/popper.min.js"></script>
  <script src="css/bootstrap.min.js"></script>
  <style>
    .navbar-light .navbar-nav .nav-link {
      font-size: 1.5em;
      font-weight: bold;
      color: white;
    }
  </style>
</head>

<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#"><img src="img/logo3.png" alt="Logo" style="width: 200px; height: 100px;"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMenu"
        aria-controls="navbarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarMenu">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">About The Project</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">T1D Education</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Lifestyle Tips</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">News and Updates</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Personal Stories</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Community and Support</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">T1D and Technology</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Data Analysis Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Web Apps</a>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">Login</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>

  <main>
        <br>
    <br>
    <h1>what in the world is going on</h1>
    <br>
    <br>
        <br>
    <br>
        <br>
    <br>
        <br>
    <br>
  </main>

  <footer  class="bg-light text-white">
    <div class="container">
      <div class="row">
          <p style="font-size: 1.2em;">
            <a href="#" style="color: white; margin-right: 10px;">About</a>
            <a href="#" style="color: white; margin-right: 10px;">Copyright</a>
            <a href="#" style="color: white; margin-right: 10px;">Contact</a>
            <a href="#"><img src="img/fb.png" alt="Facebook" style="width: 30px; height: 30px; margin-left: 10px;"></a>
            <a href="#"><img src="img/twitter.png" alt="Twitter" style="width: 30px; height: 30px; margin-left: 10px;"></a>
            <a href="#"><img src="img/instagram.png" alt="Instagram" style="width: 30px; height: 30px; margin-left: 10px;"></a>
            <a href="#"><img src="img/youtube.png" alt="YouTube" style="width: 30px; height: 30px; margin-left: 10px;"></a>
            <a href="#"><img src="img/github.png" alt="GitHub" style="width: 30px; height: 30px; margin-left: 10px;"></a>
            <a href="#"><img src="img/linkedin.png" alt="LinkedIn" style="width: 30px; height: 30px; margin-left: 10px;"></a>
          </p>
      </div>
    </div>
  </footer>
</body>

</html>
